<!-- Footer Section -->
<footer class="footer pt-5 pb-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Contact Form -->
                <h4>Contact Us</h4>
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <!-- Company Short Bio and Sitemap -->
                <h4>Buziek</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies orci nec quam semper
                    fermentum. Fusce ultrices lacinia augue, non euismod dolor laoreet nec.</p>
                <ul>
                    <li><a class="text-white" href="home">Home</a></li>
                    <li><a class="text-white" href="book">Book</a></li>
                    <li><a class="text-white" href="#">About Us</a></li>
                    <li><a class="text-white" href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>