<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>

<body>
    <section class="step-container">
        <h3>Confirm Booking</h3>
        <p>Date: bookingDate
        </p>
        <p>Start Time: startTime
        </p>
        <p>End Time: endTime
        </p>
    </section>
    <hr class="4">
    <h1>Confirm your boooking</h1>
    <form action="booking-invoice.ejs" method="POST">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="phone">Your Phone Number:</label>
        <input type="tel" id="phone" name="phone" required>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="100" readonly>
        <button class="btn btn-success" type="button" id="finalBook">Book My Studio</button>
    </form>
</body>

</html>