<body>
    <%- include('partials/navbar') %>
        <div class="book-now">
            <h1 class="text-left pl-4 pt-3 pb-3 bg-dark text-white">Book <%= studio.studio_name %>
            </h1>
            <hr class="4">
            <form id="bookNow"> <!-- Add action and method attributes -->
                <section class="step-container">
                    <h3>Select Date</h3>
                    <label for="bookingDate">Select Date:</label>
                    <input type="text" class="date-picker" name="bookingDate" required>
                </section>
                <hr class="4">
                <section class="step-container">
                    <h3>Select Start and End Time</h3>
                    <input type="hidden" value="<%= studio.id %>" name="studioId" id="studioId">
                    <div class="form-group">
                        <label for="startTime">Start Time:</label>
                        <input type="time" class="form-control" name="startTime" required>
                    </div>
                    <div class="form-group">
                        <label for="endTime">End Time:</label>
                        <input type="time" class="form-control" name="endTime" required>
                    </div>
                </section>
                <hr class="4">
                <div class="text-center mt-3">
                    <button class="btn btn-success" type="submit">Book Now</button> <!-- Changed type to submit -->
                </div>
            </form>
            <hr class="4">
        </div>
        <%- include('partials/footer') %>
</body>